name: CI/CD Pipeline Final

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Run actions/checkout@v4
      uses: actions/checkout@v4

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.7"

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install -r MLProject/requirements.txt

    - name: Run mlflow project
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name "Predictive Maintenance - Model"

    - name: Upload Artifacts to GitHub
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: model-artifact-mlruns
        path: MLProject/mlruns/
    
    - name: Get latest MLflow run_id
      id: get_run_id
      run: |
        RUN_ID=$(cat MLProject/run_id.txt)
        
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        echo "Run ID Found: $RUN_ID"

    - name: Login to Docker Hub
      if: success() 
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Build Docker Image using MLflow
      env:
        MLFLOW_TRACKING_URI: file:./MLProject/mlruns
      run: |
        echo "Building Docker image for Run ID: ${{ env.RUN_ID }}"
        
        mlflow models build-docker \
          --model-uri "runs:/${{ env.RUN_ID }}/model" \
          --name "${{ secrets.DOCKER_USERNAME }}/predictive-maintenance:latest" \
          --enable-mlserver

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/predictive-maintenance:latest